:root {
    --lvf-card--position: relative;
    --lvf-card-header__leading--column-size: auto;
    --lvf-card-header__trailing--column-size: max-content;
}
.lvf-card {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: grid;
    gap: 0;
    grid: "lvf-media lvf-content" auto / max-content auto;
    inset: auto;
    margin: 0;
    opacity: 1;
    overflow: visible;
    padding: calc(var(--lvf-layout-grid--margin) - 1rem);
    padding-block-start: calc(0.5rem + var(--lvf-density)/2);
    padding-block-end: calc(0.5rem + var(--lvf-density)/2);
    place-content: normal;
    place-items: normal;
    position: var(--lvf-card--position);
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card > * {
    --lvf-layout-grid--margin: 0rem;
}
.lvf-card__action {
    background: currentColor;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    inset: 0;
    margin: auto;
    opacity: var(--lvf-states--overlay--opacity);
    overflow: visible;
    padding: 0;
    position: absolute;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card__actions {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: grid;
    gap: 0;
    grid: "lvf-buttons lvf-icons" auto / auto auto;
    margin: 0;
    opacity: 1;
    overflow: visible;
    padding: 0;
    place-content: normal;
    place-items: end;
    position: static;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card__button-actions {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    grid-area: lvf-buttons;
    inset: auto;
    margin: 0;
    margin-block-end: 0.5rem;
    opacity: 1;
    overflow: visible;
    padding: 0.5rem;
    padding-block-start: 0;
    padding-block-end: 0;
    position: relative;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: 100%;
    max-block-size: none;
    max-inline-size: max-content;
}
.lvf-card__content {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    grid-area: lvf-content;
    margin: 0;
    opacity: 1;
    overflow: visible;
    padding: 0;
    position: static;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card__icon-actions {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    grid-area: lvf-icons;
    inset: auto;
    margin: -0.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    opacity: 1;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: calc(100% + 0.5rem*2);
    max-block-size: none;
    max-inline-size: max-content;
}
.lvf-card__media {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: flex;
    grid-area: lvf-media;
    margin: 1rem;
    margin-inline-end: 0;
    opacity: 1;
    overflow: visible;
    padding: 0;
    place-content: normal;
    place-items: start;
    position: static;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: 5rem;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card__overline {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    inset: auto;
    margin: 0;
    margin-block-start: 0.5rem;
    opacity: 1;
    overflow: visible;
    padding: 1rem;
    padding-block-start: 0;
    padding-block-end: 0;
    position: relative;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: 100%;
    max-block-size: none;
    max-inline-size: max-content;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card__primary-title {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    margin: 0;
    opacity: 1;
    overflow: visible;
    padding: 0.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    position: static;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card__supporting-text {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    margin: 0;
    margin-block-end: 0.5rem;
    opacity: 1;
    overflow: visible;
    padding: 1rem;
    padding-block-start: 0;
    padding-block-end: 0;
    position: static;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card-container {
    --lvf-card--position: static;
    --lvf-layout-grid--margin: 1rem;
    background: var(--lvf-elevation-1--overlay);
    border: none;
    border-radius: var(--lvf-shape-medium--size);
    box-shadow: var(--lvf-elevation-1--shadow);
    color: inherit;
    display: block;
    margin: 0;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card-header {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: grid;
    gap: 1rem;
    grid: "lvf-leading lvf-trailing" auto / var(--lvf-card-header__leading--column-size) var(--lvf-card-header__trailing--column-size);
    margin: 0;
    opacity: 1;
    overflow: visible;
    padding: 0;
    position: static;
    text-align: inherit;
    white-space: inherit;
    /* Places */
    place-content: normal;
    place-items: normal;
    align-items: center;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card-header--leading {
    --lvf-card-header__leading--column-size: max-content;
    --lvf-card-header__trailing--column-size: auto;
}
.lvf-card-header__meta {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: grid;
    gap: 0.75rem;
    grid: auto / auto-flow max-content;
    inset: auto;
    margin: 0;
    opacity: 1;
    overflow: visible;
    padding: 0;
    place-content: normal;
    place-items: normal;
    position: relative;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card-header__text {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    margin: 0;
    opacity: 1;
    overflow: visible;
    padding: 0;
    position: static;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card-header-text-container {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    inset: auto;
    margin: 0;
    opacity: 1;
    overflow: visible;
    padding: 0.5rem;
    padding-inline-start: 0;
    padding-inline-end: 0;
    position: relative;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
.lvf-card-subhead {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: grid;
    gap: 1em;
    grid: auto / auto-flow auto;
    inset: auto;
    margin: 0;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    place-content: start;
    place-items: normal;
    position: relative;
    text-align: inherit;
    white-space: nowrap;
    /* Sizes */
    block-size: auto;
    inline-size: 100%;
    max-block-size: none;
    max-inline-size: max-content;
}
.lvf-card-subhead__item {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    margin: 0;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    position: static;
    text-align: inherit;
    white-space: inherit;
    /* Sizes */
    block-size: auto;
    inline-size: auto;
    max-block-size: none;
    max-inline-size: none;
}
