.lvf-dropzone {
    border: 0.125rem dashed currentColor;
    border-radius: var(--lvf-shape-medium--size);
    display: block;
    inset: auto;
    margin: 0;
    opacity: 1;
    padding: calc(1rem + var(--lvf-density)/2);
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    position: relative;
    text-align: center;
}
.lvf-dropzone__content {
    border: none;
    border-radius: 0;
    display: block;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: static;
    text-align: inherit;
}
.lvf-dropzone__illustrated-message {
    --lvf-icon--size: 21rem;
    border: none;
    border-radius: 0;
    display: flex;
    margin: 0;
    opacity: 1;
    padding: 0;
    place-content: center;
    position: static;
    text-align: inherit;
}
.lvf-dropzone__input {
    border: none;
    border-radius: 0;
    display: block;
    inset: 0;
    margin: auto;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: inherit;
}
